<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by: </div>
            <div class="col-md-4">
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                 <h4>Filtered by: </h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <th>
                        <button class="btn btn-primary">Show Image</button>
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>5 Star rating</th>
                </thead>
            </table>
        </div>
    </div>
</div>
